html {
  height: 100%;
  background: rgb(241, 252, 204);
  background: linear-gradient(
    180deg,
    rgba(241, 252, 204, 1) 0%,
    rgba(179, 238, 190, 1) 47%,
    rgba(93, 169, 157, 1) 71%
  );
}
